.landing-page {
  text-align: center;
  padding: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.option {
  background-color: #f0f0f0;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  width: 200px;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.logout-btn {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #d32f2f;
}
.admin-btn {
  margin-left: 10px; 
  padding: 10px 15px; 
  background-color: #007bff;
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.admin-btn:hover {
  background-color: #0056b3;
}
